body {
      background-image: url('margherita.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100vh;
      margin: 0;
    }
    .alto {
      position: absolute;
      top: 0;
      height: 100px;
      width: 100%;
      transform: translateX(-50%);
      background-color: green;
      margin: 1px;
    }
    .destra {
  top: 50%;
  right: 0;
  height: 200px;
  width: 70%;
  transform: translateY(-50%);
  background-color: white;
  margin: 1px;
}
    .sinistra {
  top: 50%;
  left: 0;
  height: 200px;
  width: 20%;
  transform: translateY(-50%);
  background-color: white;
  margin: 1px;
}
.basso {
      position: absolute;
      bottom: 0;
      height: 30px;
      width: 100%;
      transform: translateX(-50%);
      background-color: green;
      margin: 1px;
    }
    